.Side_bar
  .Side_bar__user_name
    .Side_bar__user_name__list
      .Side_bar__user_name__list__username
        = current_user.name
      .Side_bar__user_name__list__icon
        .Side_bar__user_name__list__icon__icon1
          = link_to "#" , class: "Side_bar__user_name__list__icon__icon1" do
            = icon('fas' , 'edit')
        .Side_bar__user_name__list__icon__icon2
          = link_to  edit_user_path(current_user), class: "Side_bar__user_name__list__icon__icon2" do
            = icon('fas' , 'cog')
  .Side_bar__group
    .Side_bar__group__box
      .Side_bar__group__box__groupname
        おはよう
      .Side_bar__group__box__message
        コメントテスト１
    .Side_bar__group__box
      .Side_bar__group__box__groupname
        こんにちは
      .Side_bar__group__box__message
        コメントテスト２
    .Side_bar__group__box
      .Side_bar__group__box__groupname
        こんばんは
      .Side_bar__group__box__message
        コメントテスト３
  
  

